/* WebZ */

.messages-container, .message-content{
  width: auto !important;
  max-width: 100% !important;
}

.middle-column-footer{
  width: 100% !important;
  max-width: 100% !important;
}

/* >= 0.5.6 */
.bubbles-inner, .bubble-content-wrapper, .bubbles-inner:not(.is-channel) .message{
  margin: 0 !important;
  width: 100% !important;
}

.bubbles-inner{
  max-width: 100% !important;
}

.bubble.is-out .bubble-content-wrapper{
  transform: none !important;
  padding-left: 1em;
}

/* < 0.5 */
.im_page_wrap, .im_message_wrap, .im_send_form_wrap, .im_send_panel_wrap, .im_send_form, .tg_head_split{
  max-width: 100000px !important;
}
.im_page_split{
  display: flex !important;
}

.im_page_split > :first-child{
  max-width: 300px;
}

.im_page_split > :last-child{
  flex: 1;
}
